.index{
  /* z-index: -9999; */
}
svg{
  height: 375px;
}

.profileImage{
  width: 45px !important;
  height: 45px !important;
}
/* #cart{
  border: 2px solid #fafafa;
  width:20px;
  height:20px;
 
} */