<main class="landing position-relative">
  <div class="position-absolute top-50 ms-5 ps-5">
    <p class="text-white fw-bold fs-1 w-75">
      Welcome to our Event Booking System! Explore a variety of events, book
      your tickets, and share your experiences with our community.
    </p>
    <!-- <pre class="text-white fw-bold fs-1  ">
    Celebrating Moments,
    Building Memories
    </pre> -->
  </div>
</main>
<app-our-next-events></app-our-next-events>
<app-featured-events></app-featured-events>
<app-testimonials></app-testimonials>
<!-- <app-events-partners></app-events-partners> -->
<!-- <app-regional-events></app-regional-events> -->
