.event-details {
  /* background-image: linear-gradient(
    to right bottom,
    #965eca,
    #804caa,
    #6a3b8c,
    #552b6f,
    #401c54
  ); */
  background-color: #eee;
  font-size: 50px !important;
}

.img-container {
  height: 490px;
}
.img-container img {
  height: 100%;
  object-fit: cover;
}

.org-img {
  height: 90px;
  width: 90px;
  /* border-radius: 50% !important; */
  object-fit: cover;
}

.ticket-container {
  height: 150px;
}
.ticket-container img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1300px) {
  .container-lg {
    width: 100% !important; /* Set width to 100% for mobile screens */
  }
}

/* Custom CSS to style radio buttons */
.radio-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px; /* Adjust font size as needed */
}
