<div class="container-lg w-50 p-4 p-lg-0 d-flex justify-content-center my-5">
  <div
    class="row bg-info-subtle p-0 py-3 rounded-4 text-center text-lg-start shadow"
  >
    <!-- left of the card -->
    <div class="col-md-5 pt-5 p-0 p-lg-5 rounded-4">
      <h3 class="fw-bold fs-1">Amr Diab</h3>
      <p class="fs-3 mt-5">Apr 10 | 07:00pm</p>
      <p class="fs-3 mt-5">Cubix, El Gouna</p>

      <div class="row text-center text-lg-start">
        <div class="col-12 fs-5">Organised by</div>
        <div class="col-12">
          <img
            src="assets/imgs/rog.png"
            class="img-fluid rounded-4 w-50 org-img"
            alt="..."
          />
        </div>
      </div>
    </div>
    <!-- card image -->
    <div class="col-md-7 p-0 img-container">
      <img
        src="assets/imgs/amr.jpg"
        class="img-fluid rounded-5 w-100 p-3"
        alt="..."
      />
    </div>

    <!-- event details -->
    <div class="col-12 mt-2 px-2 px-lg-5 text-lg-start text-start">
      <h3 class="fw-bold fs-4 text-lg-start text-center">About the event</h3>
      <p class="fs-6 px-2 p-lg-0">
        El Hadaba is making his way back to the golden shores of El Gouna, Red
        Sea for an unmatched Eid celebration with his extraordinary style joined
        by a surprise DJ. Get to witness the mesmerizing vibes of Amr Diab's
        performance at Cubix on April 10th. With El Hadaba's ability to connect
        with his fans through his music, it is needless to say that it'll be an
        unforgettable night, don't miss out on this iconic event. Venue: Cubix,
        El Gouna
      </p>
      <p><span class="fw-bold px-2 p-lg-0">Venue:</span> Cubix, El Gouna</p>
      <p>
        <span class="fw-bold px-2 p-lg-0">Dates:</span> 10th of April, 2024 |
        15th of April, 2024
      </p>
    </div>

    <!-- facilities -->
    <div class="col-12 mt-4 px-2 px-lg-5 text-lg-start text-start">
      <h3 class="fw-bold fs-4 text-center">Facilities</h3>
      <div class="d-flex justify-content-around">
        <p>Wifi</p>
        <p>Bathroom</p>
        <p>Restaurant</p>
      </div>
    </div>

    <div class="col-12 mt-4 px-2 px-lg-5 text-lg-start text-start">
      <!-- buy tickets -->
      <div class="col-12 mt-4 px-2 px-lg-5 text-lg-start text-start">
        <h3 class="fw-bold fs-4 text-center">Tickets</h3>
        <div class="row mt-3 text-center">
          <div class="col-6">
            <p class="fs-6 px-2 p-lg-0">Regular</p>
            <p class="fs-6 px-2 p-lg-0">EGP 500</p>
            <i class="fa-solid fa-bowl-food"></i>
          </div>
          <div class="col-6">
            <p class="fs-6 px-2 p-lg-0">VIP</p>
            <p class="fs-6 px-2 p-lg-0">EGP 1000</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary w-100 mt-3 btn-color">
              Buy Tickets
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
