<div
  #container
  class="container"
  class="container-lg w-100 p-4 p-lg-0 d-flex justify-content-center my-5"
>
  <div
    class="row event-details p-0 py-3 rounded-4 text-center text-lg-start shadow"
  >
    <!-- left of the card -->
    <div class="col-md-5 pt-5 p-0 p-lg-5 rounded-4 text-center">
      <p class="fw-bold">{{ myEvent?.title }}</p>
      <p class="mt-5">{{ firstDate }}</p>
      <p class="mt-5 fs-2">{{ location }}</p>

      <div class="row text-center text-lg-start mt-4 text-center">
        <div class="col-12 text-center">Organised by</div>
        <div class="col-12 fs-2 text-center">
          {{ organizer }}
        </div>
      </div>
    </div>
    <!-- card image -->
    <div class="col-md-7 p-0 img-container">
      <img
        src="assets/imgs/amr.jpg"
        class="img-fluid rounded-5 w-100 p-3"
        alt="..."
      />
    </div>

    <!-- event details -->
    <div class="col-12 mt-2 px-2 px-lg-5 text-lg-start text-start">
      <p class="text-lg-start text-center">About the event</p>
      <p class="px-2 p-lg-0 fs-4 mb-5">
        {{ description }}
      </p>
      <p>
        <span class="fw-bold px-2 p-lg-0 fs-5 me-3">Venue:</span> {{ location }}
      </p>
      <p>
        <span class="fw-bold px-2 p-lg-0 fs-5">Dates:</span>
      </p>
      <p>
        <!-- display dates and times -->
        <span
          *ngFor="let date of dates; let i = index"
          class="d-flex justify-content-around gap-md-5 flex-wrap mb-3"
        >
          <span *ngFor="let d of date.times; let j = index" class="ms-3">
            <label class="radio-label">
              <input
                type="radio"
                name="date"
                class="form-check-input me-3"
                [(ngModel)]="selectedDate"
                [value]="{ date: date.date, start: d.start, end: d.end }"
              />
              <span class="radio-text">
                {{ date.date }} | from: {{ d.start }} to {{ d.end }}
              </span>
            </label>
          </span>
        </span>
      </p>
    </div>

    <!-- facilities -->
    <div class="col-12 mt-4 px-2 px-lg-5 text-lg-start text-start">
      <h3 class="fw-bold fs-4 text-lg-start text-center">Facilities</h3>
      <div class="d-flex justify-content-around my-4 fs-5">
        <ul
          class="d-flex justify-content-around w-100 flex-wrap text-center w-100"
        >
          <span
            *ngFor="let f of facilities; &quot;text-center&quot;"
            class="ms-3"
          >
            <li class="me-5 text-center">{{ f }}</li>
          </span>
        </ul>
      </div>
    </div>

    <!-- instructions -->
    <div class="col-12 mt-0 px-2 px-lg-5 text-lg-start text-start">
      <h3 class="fw-bold fs-4 text-lg-start text-center">Instructions</h3>
      <div class="d-flex justify-content-around my-4 fs-5">
        <ul
          class="d-flex justify-content-around w-100 flex-wrap text-center w-100"
        >
          <span
            *ngFor="let ins of instructions; &quot;text-center&quot;"
            class="ms-3"
          >
            <li class="me-5 text-center">{{ ins }}</li>
          </span>
        </ul>
      </div>
    </div>
    <!-- buy tickets -->
    <div class="col-12 mt-0 px-2 px-lg-5 text-lg-start text-start">
      <div class="col-12 mt-4 px-2 px-lg-0 text-lg-start text-start">
        <h3 class="fw-bold fs-4 text-center">Tickets</h3>
        <div class="row mt-3 text-center p-0">
          <!-- regular ticket -->
          <div class="col-md-4 mb-3 mb-lg-0">
            <div class="card bg-info">
              <div class="ticket-container">
                <img src="assets/imgs/t2.png" class="card-img-top" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="card-title my-3">Regular</h5>

                <button
                  class="btn-color rounded-3 p-2 w-25 me-3"
                  (click)="minusRegular()"
                >
                  -
                </button>
                <span>{{ ReservedRegularTickets }}</span>
                <button
                  class="btn-color rounded-3 p-2 w-25 ms-3"
                  (click)="addRegular()"
                >
                  +
                </button>
              </div>
            </div>
          </div>
          <!-- gold ticket -->
          <div class="col-md-4 mb-3 mb-lg-0">
            <div class="card bg-info">
              <div class="ticket-container">
                <img src="assets/imgs/t3.png" class="card-img-top" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="card-title my-3">Gold</h5>

                <button
                  class="btn-color rounded-3 p-2 w-25 me-3"
                  (click)="minusGold()"
                >
                  -
                </button>
                <span>{{ ReservedGoldTickets }} </span>
                <button
                  class="btn-color rounded-3 p-2 w-25 ms-3"
                  (click)="addGold()"
                >
                  +
                </button>
              </div>
            </div>
          </div>
          <!-- vip ticket -->
          <div class="col-md-4 mb-3 mb-lg-0">
            <div class="card bg-info">
              <div class="ticket-container">
                <img src="assets/imgs/t1.png" class="card-img-top" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="card-title my-3">VIP</h5>
                <button
                  class="btn-color rounded-3 p-2 w-25 me-3"
                  (click)="minusVip()"
                >
                  -
                </button>
                <span>{{ ReservedVipTickets }} </span>
                <button
                  class="btn-color rounded-3 p-2 w-25 ms-3"
                  (click)="addVip()"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button
              class="btn btn-primary w-100 mt-3 btn-color"
              [disabled]="
                (ReservedRegularTickets === 0 &&
                  ReservedGoldTickets === 0 &&
                  ReservedVipTickets === 0) ||
                !selectedDate
              "
              (click)="addToCart()"
            >
              Buy Tickets
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center  mt-4">
    <div class="col-12 d-flex justify-content-center flex-column align-items-center bg-gray">
      <form [formGroup]="FeedBackForm" (ngSubmit)="Feedback(FeedBackForm)">
        <label>Email</label>
        <input type="text" formControlName="email" [value]="email" name="email">
        <div *ngIf="FeedBackForm.get('email')&& FeedBackForm.get('email')?.touched">
          <p *ngIf="FeedBackForm.get('email')?.getError('required')" class="text-danger">Email is Required</p>
          <!-- <p *ngIf="registerForm.get('email')?.getError('pattern')" class="text-danger">Email should match the format email.com </p> -->
          <p *ngIf="FeedBackForm.get('email')?.getError('pattern')" class="alert alert-danger">Enter vaild Email</p>
      </div>
        <label>You FeedBack</label>
        <input formControlName="feedback" type="text" [value]="feedback" name="feedback">
        <input type="submit">
      </form>
    </div>
   </div>

</div>
