<div class="vh-100 d-flex justify-content-center align-items-center flex-column">

  <form [formGroup]="loginForm" (ngSubmit)="Login(loginForm)">
    <div class="form justify-content-evenly gap-4 py-4 row  forms m-auto mt-3  shadow ">

        <div class="container d-flex flex-column justify-content-evenly py-2 col-8">
            <input class="inform" type="text" formControlName="email" placeholder="Email"/>
            <div *ngIf="loginForm.get('email')&& loginForm.get('email')?.touched">
                <p *ngIf="loginForm.get('email')?.getError('required')" class="text-danger">Email is Required</p>
                <!-- <p *ngIf="loginForm.get('email')?.getError('pattern')" class="text-danger">Email should match the format email.com </p> -->
                <p *ngIf="emailErrorMessage" class="alert alert-danger">{{emailErrorMessage}}</p>
            </div>

        </div>
        <div class="container d-flex flex-column justify-content-evenly py-2 col-8">
            <input class="inform " type="password" formControlName="password" placeholder="Password" />
            <div *ngIf="loginForm.get('password')&& loginForm.get('password')?.touched">
                <p *ngIf="loginForm.get('password')?.getError('required')" class="text-danger">Password is Required</p>
                <p *ngIf="loginForm.get('password')?.getError('pattern')" class="text-danger">Password should be Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character:</p>
            </div>
        </div>

        <div class="ms-lg-auto m-auto text-center d-flex justify-content-center col-8 d-flex flex-column">
            <button class="btn btn-color text-light fs-5 border-2 border-white rounded-pill px-4 py-2 " type="submit" value="Register" [disabled]="loginForm.invalid">Login</button>
            <br>
            <p>or</p>
           <div class="d-flex justify-content-center"> <div id="google-btn"></div> </div>
            <hr>
        </div>
        <p  class="ms-lg-auto m-auto text-center d-flex justify-content-center col-8">Don't have an account? &nbsp;<a  routerLink="/register"> Register</a></p>
    </div>

</form>

<p *ngIf="success" class="mt-2 fs-4 text-success text-center">Login successful! Redirecting...</p>
<p *ngIf="failure" class="mt-2 fs-4 text-danger text-center">Login failed. Please check your credentials.</p>

<br><br><br><br><br>

</div>
